<div class="profiles-info">

  <div class="info-title">
    <h3>公司信息</h3>
  </div>
  <div class="form-area">
    <table class="tb-two-col">
      <tbody>
        <tr>
          <td class="item_name">客户名称：</td>
          <td class="item_value"><%= f.text_field :jbxx_khmc %></td>
          <td class="item_name">地址：</td>
          <td class="item_value"><%= f.text_field :jbxx_dz %></td>
        </tr>
        <tr>
          <td class="item_name">电话：</td>
          <td class="item_value"><%= f.text_field :jbxx_dh %></td>
          <td class="item_name">成立时间：</td>
          <td class="item_value"><%= f.text_field :jbxx_clsj %></td>
        </tr>
        <tr>
          <td class="item_name">注册资金：</td>
          <td class="item_value"><%= f.text_field :jbxx_zczj %></td>
          <td class="item_name">传真：</td>
          <td class="item_value"><%= f.text_field :jbxx_cz %></td>
        </tr>
        <tr>
          <td class="item_name">经营方式：</td>
          <td class="item_value">
            <div class="radiogroup">
              <input type="checkbox" name="checkbox" id="checkbox" /><label for="checkbox">独资</label>
              <input type="checkbox" name="checkbox2" id="checkbox2" /><label for="checkbox2">合伙</label>
              <input type="checkbox" name="checkbox3" id="checkbox3" /><label for="checkbox3">公司</label>
            </div>
          </td>
          <td class="item_name">组织：</td>
          <td class="item_value"> 业务：<%= f.text_field :jbxx_ywrs, :size => 3 %>人；
            市场：<%= f.text_field :jbxx_scrs, :size => 3 %>人；
            公司共: <%= f.text_field :jbxx_gsrs,:size => 3 %>人。</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="info-title">
    <h3>公司联系人信息</h3>
  </div>
  <div class="form-area">
    <table class="tb-list">
      <thead>
        <tr>
          <th>职务</th>
          <th>姓名</th>
          <th>固定电话</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>总经理</th>
          <td><%= f.text_field :gsgk_zjl_xm, :size => 16 %></td>
          <td><%= f.text_field :gsgk_zjl_dh, :size => 16 %></td>
        </tr>
        <tr>
          <th>营销总监</th>
          <td><%= f.text_field :gsgk_yxzj_xm, :size => 16 %></td>
          <td><%= f.text_field :gsgk_yxzj_dh, :size => 16 %></td>
        </tr>
        <tr>
          <th>财务</th>
          <td><%= f.text_field :gsgk_cw_xm, :size => 16 %></td>
          <td><%= f.text_field :gsgk_cw_dh, :size => 16 %></td>
        </tr>
        <tr>
          <th>售后</th>
          <td><%= f.text_field :gsgk_sh_xm, :size => 16 %></td>
          <td><%= f.text_field :gsgk_sh_dh, :size => 16 %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="info-title">
    <h3>经营情况</h3>
  </div>
  <div class="form-area">
    <table class="tb-list">
      <thead>
        <tr>
          <td>代理品牌</td>
          <td>月销情况</td>
          <td>年销情况</td>
          <td>备注</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :jyqk_dlpp1, :size => 20 %></td>
          <td><%= f.text_field :jyqk_yxqk1, :size => 20 %></td>
          <td><%= f.text_field :jyqk_nxqk1, :size => 20 %></td>
          <td><%= f.text_field :jyqk_bz1, :size => 20 %></td>
        </tr>
        <tr>
          <td><%= f.text_field :jyqk_dlpp2, :size => 20 %></td>
          <td><%= f.text_field :jyqk_yxqk2, :size => 20 %></td>
          <td><%= f.text_field :jyqk_nxqk2, :size => 20 %></td>
          <td><%= f.text_field :jyqk_bz2, :size => 20 %></td>
        </tr>
        <tr>
          <td><%= f.text_field :jyqk_dlpp3, :size => 20 %></td>
          <td><%= f.text_field :jyqk_yxqk3, :size => 20 %></td>
          <td><%= f.text_field :jyqk_nxqk3, :size => 20 %></td>
          <td><%= f.text_field :jyqk_bz3, :size => 20 %></td>
        </tr>
        <tr>
          <td><%= f.text_field :jyqk_dlpp4, :size => 20 %></td>
          <td><%= f.text_field :jyqk_yxqk4, :size => 20 %></td>
          <td><%= f.text_field :jyqk_nxqk4, :size => 20 %></td>
          <td><%= f.text_field :jyqk_bz4, :size => 20 %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="info-title">
    <h3>售后情况</h3>
  </div>
  <div class="form-area">

    <table class="tb-one-col">
      <tr>
        <td class="item_name">售后能力</td>
        <td class="item_value"><%= f.text_field :shqk_nl %></td>
      </tr>
      <tr>
        <td class="item_name">备注</td>
        <td class="item_value"><%= f.text_field :shqk_bz %></td>
      </tr>
    </table>
  </div>
  <div class="info-title">
    <h3>您有何建议</h3>
  </div>
  <div class="form-area">
    <table class="tb-one-col">
      <tr>
        <td class="item_name">价格方面</td>
        <td class="item_value"><%= f.text_area :jy_jgfm, :size => '60x5' %></td>
      </tr>
      <tr>
        <td class="item_name">信用额度</td>
        <td class="item_value"><%= f.text_area :jy_xyed, :size => '60x5' %></td>
      </tr>
      <tr>
        <td class="item_name">广告方面</td>
        <td class="item_value"><%= f.text_area :jy_ggfm, :size => '60x5' %></td>
      </tr>
      <tr>
        <td class="item_name">售后方面</td>
        <td class="item_value"><%= f.text_area :jy_shfm, :size => '60x5' %></td>
      </tr>
      <tr>
        <td class="item_name">市场现状</td>
        <td class="item_value"><%= f.text_area :jy_scxz, :size => '60x5' %></td>
      </tr>
    </table>
  </div>
</div>