<div class="info-title editing">
  <h3>编辑基本信息</h3>
  <span class="edit-link-false">编辑</span>
</div>


<table>
  <tr>
    <td>
      <% form_for(@user, :url => object_url, :html => { :method => :put, :class => 'baseinfo' }) do |f| %>
        <table style="width:auto;">
          <tr>
            <td>显示名：</td>
            <td><%= f.text_field :display_name, :class => 'title', :size => 'auto'  %></td>
          </tr>
          <tr>
            <td><%= t('activerecord.attributes.user.mobile') %>：</td>
            <td><%= f.text_field :mobile, :class => 'title', :size => 'auto'  %></td>
          </tr>
          <tr>
            <td><%= t('activerecord.attributes.user.email') %>：</td>
            <td><%= f.text_field :email, :class => 'title', :size => 'auto'  %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%=submit_tag t("update"), :class => 'button submit-btn' %>
              <input type="button" onclick="discard_baseinfo();" value="放弃修改" class="button cancel-btn"/>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>


<%= hook :signup_below_password_fields %>









