<% content_for :head do %>
  <%= javascript_include_tag 'jquery.validate.pack.js','messages_zh.js' %>
<script type="text/javascript">
  $(function(){

    $('#new_user').validate({
      rules: {
        "user[display_name]": "required",
        "user[mobile]": "required",
        "user[password]": "required",
        "user[password_confirmation]": "required",
        "user[email]": "email"
      }
    });


  });
</script>
<% end %>

<% @body_id = 'signup' %>
<%= render "shared/error_messages", :target => @user %>
<div id="new-customer">
  <h2><%= t("new_customer") %></h2>
  <%= hook :signup do %>
    <%= form_for(@user) do |f| %>
      <%= hook :signup_inside_form do %>
        <%= render 'shared/user_form', :f => f %>
        <p>单击“<%= t("create") %>”即表示您同意 Coolpur <a href="/pages/registration-agreement" target="_blank">用户协议</a>和<a href="/pages/legal-notices" target="_blank">法律声明</a>。 </p>
        <p><%= submit_tag t("create"), :class => 'button primary' %></p>
      <% end %>
    <% end %>
    <%= t("or") %> <%= link_to t("login_as_existing"), login_path %>  | <%= link_to t("forgot_password"), new_password_reset_path %>
  <% end %>

</div>
