<% content_for :head do %>
  <script type="text/javascript">
    $(function(){
      var a = $('.product-listing li')
      for (var i=3; i<a.length; i=i+4){
        $(a[i]).addClass('last');
      }
    });
  </script>
<% end %>

<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if products.any? %>
<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>">
        <%= link_to small_image(product), product %>
        上市时间：<%= product.property('上市时间') %><br />
        制式：<%= product.taxon_val('制式') %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>

<hr class="space" />

<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)

%><%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>

<hr class="space" />

