<% cache('taxonomies') do %>
<div id="taxonomies" class="sidebar-item">
  <%
  gjpp = Taxon.find_by_name('国际品牌')
  gnpp = Taxon.find_by_name('国内品牌')
%>
  <h3><a href="/brands#international">国际品牌(<%= Product.active().in_taxon(gjpp).count -%>款)</a></h3>
  <ul class="navigation-list">

    <% Taxon.find_all_by_parent_id(gjpp.id, :order => :lft, :limit => 10).each do |brand| %>
      <li<%= ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(brand) %>><a href="<%= "/t/#{brand.permalink}" %>"><%= brand.name %>(<%= Product.active().in_taxon(brand).count %>)</a></li>
    <% end %>
  </ul>
  <h3><a href="/brands#china">国内品牌(<%= Product.active().in_taxon(gnpp).count -%>款)</a></h3>
  <ul class="navigation-list list-china">

    <% Taxon.find_all_by_parent_id(gnpp.id,:order => :lft, :limit => 20).each do |brand| %>
      <li class="<%= 'current ' if @taxon and ([@taxon] + @taxon.ancestors).include?(brand) %>"><a href="<%= "/t/#{brand.permalink}" %>"><%= brand.name %>(<%= Product.active().in_taxon(brand).count %>)</a></li>
    <% end %>
  </ul>
</div>
<% end %>