 <p>
    <%= f.label :sender, t(:sender) %>
    <%= f.text_field :sender %>
  </p>
  <p>
    <%= f.label :sendee, t(:sendee) %>
    <%= f.text_field :sendee %>
  </p>
  <p>
    <%= f.label :sendee_id, t(:sendee_id) %>
    <%= f.text_field :sendee_id %>
  </p>
  <p>
    <%= f.label :address, t(:address) %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :msg_type, t(:msg_type) %>
    <%= f.text_field :msg_type %>
  </p>
  <p>
    <%= f.label :msg_title, t(:msg_title) %>
    <%= f.text_field :msg_title %>
  </p>
  <p>
    <%= f.label :msg_body, t(:msg_body) %>
    <%= f.text_field :msg_body %>
  </p>
  <p>
    <%= f.label :status, t(:status) %>
    <%= f.text_field :status %>
  </p>
