<% content_for :head do %>
  <%= javascript_include_tag 'quotations', 'smartFloat' , :cache => 'quotations-core' %>
<% end %>
<% cache do %>
  <h1>手机批发报价</h1>
  <div class="quotations-filter-area">
    <div class="qfb">
      <div class="quotations-filter" id="float">
        <h3>请选择条件</h3>
        <div class="search-model">
          <input type="text" id="" value="请输入品牌或型号" />
          <button class="submit-btn">查找</button>
        </div>
        <%= render 'brands' %>
        <div class="clr"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    //绑定
    $("#float").smartFloat();
  </script>

  <div class="quotations-product-list" id="QPlist">
    <div class="result-stats">共搜索到 <strong>x</strong> 款</div>
    <table>
      <colgroup>
        <col class="col_1"></col>
        <col class="col_2"></col>
        <col class="col_3"></col>
        <col class="col_4"></col>
        <col class="col_5"></col>
        <col class="col_6"></col>
        <col class="col_7"></col>
      </colgroup>
      <thead>
        <tr>
          <th>品牌</th>
          <th>型号</th>
          <th>颜色</th>
          <th>制式</th>
          <th>上市时间</th>
          <th>批发价</th>
          <th>操作</th>
        </tr>
      </thead>




      <tbody>
        <% @products.each do |p|
          brn = p.taxon_val('品牌')
        %>

          <tr>
            <td>
              <% if params[:b] && (bb = Taxon.find_by_name(brn).id) == params[:b].to_i %>
                <%= brn %>
              <% else %>
                <%= link_to brn, :b => bb %></td>
            <% end %>



            <td><%= link_to p.property('型号'), p %></td>
            <td><%= p.property('颜色') %> </td>
            <td><%= p.taxon_val('制式') %></td>
            <td><%= p.property('上市时间') %></td>
            <td class="prices"><%= show_price(p.property('批发价')) %> </td>
            <td>
              <a href="javascript:void(0)">询价</a>
              <a href="javascript:void(0)">购买</a>
              <a href="javascript:void(0)" class="collectbtn">收藏</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

