<% content_for :head do %>
  <%= javascript_include_tag 'smartFloat','jquery.datatables/jquery.dataTables.min' %>
<style type="text/css">
@import "/javascripts/jquery.datatables/css/demo_page.css";
@import "/javascripts/jquery.datatables/css/demo_table_jui.css";
#quote-table td {height:25px;}
</style>
<script type="text/javascript">
var oTable;
  $(function(){
    oTable = $('#quote-table').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
        "aLengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "aoColumns": [null,null,null,null,{"bSearchable": false,"bVisible":false},null ],
        "oLanguage": { "sUrl": "/javascripts/jquery.datatables/zh_CN.txt" }
    });
    $("#search-quote").keyup( function() { $('#quote-table').dataTable().fnFilter($("#search-quote").val(), null, false, true); });
    $("#float").smartFloat();
  });

var iMin = 0;
var iMax = 10000;
var iBrand = 0;
/* Custom filtering function which will filter data in column four between two values */
$.fn.dataTableExt.afnFiltering.push(
	function( oSettings, aData, iDataIndex ) {
      var iPrice = parseInt(aData[2]);
      if (iPrice == NaN) iPrice = 0;
      return (iMin <= iPrice && iPrice <= iMax ) && (iBrand==0 || parseInt(aData[4])==iBrand);
    }
);
function price_filter(min, max){
  /* Sort immediately with columns 0 and 1 */
  oTable.fnSort([ [2,'asc'], [0,'asc'] ] );
  iMin = min;
  iMax = max;
  oTable.fnDraw();
}
function sb(lnk, brand_id){
  oTable.fnSort([[0,'asc'] ] );
  iBrand = brand_id;
  $('.brand-list li a').removeClass('current');
  if (brand_id>0) $(lnk).addClass('current');
  oTable.fnDraw();
}
function sp(lnk){
  var ps = $(lnk).text().split('~');
  var p1 = parseInt(ps[0]);
  var p2 = parseInt(ps[1]);
  $('.price-list li a').removeClass('current');
  if (isNaN(p1) || p1==0) { price_filter(0,10000); return;}
  if (isNaN(p2)){
    if (p1==500) price_filter(2,500);
    else if (p1==2000) price_filter(2000,10000);
  } else
    price_filter(p1,p2);
  $(lnk).addClass('current');
}
</script>
<% end %>
<%= render 'sub_menu' %>
<% cache('quotations') do %>
  <h1>手机批发报价</h1>
  <div class="quotations-filter-area">
    <div class="qfb">
      <div class="quotations-filter" id="float">
        <h3>请选择条件</h3>
        <div class="search-model">
          查找：
          <input type="text" id="search-quote" value="" />
        </div>
        <%= render 'brands', :brands => @brands %>
        <div class="clr"></div>
      </div>
    </div>
  </div>


  <div class="quotations-product-list" id="QPlist">
    <div class="result-stats">
      <div class="toolbar"><a class="button cancel-btn" href="/print.html">打印报价单</a> <input type="button" class="button cancel-btn" value="导出为Excel(CSV)"></div>
      <div class="clr"></div>
    </div>
    <table id="quote-table">
      <thead>
        <tr>
          <th width="160">品牌</th>
          <th width="80">上市时间</th>
          <th width="80">批发价</th>
          <th width="160">报价说明</th>
          <th>brand</th>
          <th width="50">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr>
            <td><%= link_to p.name, p %></td>
            <td><%= p.property('上市时间') %></td>
            <td class="prices"><%= show_price(p.property('批发价')) %></td>
            <td><%= p.property('报价备注') %></td>
            <td><%= p.brand_id %></td>
            <td>
              <a href="javascript:void(0)" class="collectbtn">收藏</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

