<% content_for :head do %>
<script type="text/javascript">
  function merge_product(){
    var ps = $('.select-product:checked');
    if (ps.length<2){
      alert('请选中2个或以上产品才能进行合并。')
      return;
    }
    if (!confirm("确认要合并 "+ps.length+" 款产品吗？")) return;
    var ids = $.map(ps.toArray(), function(n) { return $(n).attr('pid'); });
    $.post('mobiles/merge', {ids: ids}, function(data){ alert(data); });
  }
</script>
<% end %>
<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("new_product"), new_object_url, {:remote => true, :icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= "#{t("actions.listing")} #{t("products")}" %></h1>

<div id="new_product"></div>

<table class="index">
  <tr>
    <%= hook :admin_products_index_headers do %>
      <th>选择</th>
      <th><%= order @search, :by => :name, :as => t("name") %></th>
      <th>上市日期</th>
      <th>制式</th>
      <th>零售价</th>
      <th>批发价</th>
      <th>报价备注</th>
    <% end %>
    <th>
      <%= hook :admin_products_index_header_actions %>
    </th>
  </tr>
<% @collection.each do |product| %>
  <tr <%= 'style="color:red;"' if product.deleted? %> id="<%= dom_id product %>">
    <%- locals = {:product => product} %>
    <%= hook :admin_products_index_rows, locals do %>
      <td><input type="checkbox" class="select-product" pid="<%= product.id %>" /> </td>
      <td> <%= product.name %> </td>
      <td><%= product.list_date %></td>
      <td> <%= product.taxon_val('制式') %> </td>
      <td> <%= product.property('零售价')  %> </td>
      <td> <%= number_with_precision(product.property('批发价'), :precision => 2)  %> </td>
      <td> <%= product.property('报价备注')  %> </td>
    <% end %>
    <td class="actions">
      <%= hook :admin_products_index_row_actions, locals do %>
        <%= link_to_edit product unless product.deleted?  %>
        &nbsp;
        <%= link_to_clone product %>
        &nbsp;
        <%= link_to_delete product unless product.deleted?  %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<% content_for :sidebar do %>

  <%= form_for @search do |f| %>
    <div class="box">
      <h3><%= t(:search) %></h3>

      <%- locals = {:f => f} %>
      <%= hook :admin_products_index_search, locals do %>
        <p>
          <label><%= t("name") %></label><br />
          <%= f.text_field :name_contains, :size => 15 %>
        </p>

        <p>
          <label>品牌或分类</label><br />
          <%= f.text_field :in_taxons, :size => 15 %>
        </p>
        <p>
          <label><%= t("show_deleted") %></label><br />
          <%= f.check_box :deleted_at_not_null, {}, "1", "" %>
        </p>
      <% end %>

      <%= hook :admin_products_index_search_buttons, locals do %>
        <p class="form-buttons">
          <%= button t("search") %>
        </p>
      <% end %>
    </div>
  <% end %>
<p>
  <input type="button" value="产品合并" onclick="merge_product();" />
</p>
<% end %>
