<%= render :partial => 'admin/shared/product_sub_menu' %>
<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Images"} %>

<h2>产品图片</h2>
  <% @product.images.each do |image| %>
    <div class="image-div" id="<%= dom_id(image) %>">
      <input type="text" size="3" value="<%= image.position %>" onchange="save_img_order(<%= image.id %>, this.value);" />
      <br />
      <%= link_to(image_tag(image.attachment.url(:small)), image.attachment.url(:product)) %>
      <div class="actions">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_product_image_url(@product, image)) %>
        <%= link_to_delete image, {:url => admin_product_image_url(@product, image) }%>
      </div>
    </div>
  <% end %>

<h2>其他规格</h2>
  <% @product.variants.each do |variant| %>
    <% variant.images.each do |image| %>
      <h3><%= variant.options_text %></h3>
      <div class="image-div" id="<%= dom_id(image) %>">
        <%= image.alt %><br />
        <%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)) %>
        <div class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_admin_product_image_url(@product, image)) %>
          <%= link_to_delete image, {:url => admin_product_image_url(@product, image) }%>
        </div>
      </div>
    <% end %>
  <% end %>

<p>
    <%= link_to icon('add') + ' ' + t("new_image"), new_admin_product_image_url(@product), :id => "new_image_link" %>
    <a onclick="image_reorder(<%= @product.id %>);">自动重排序</a>
</p>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
    function save_img_order(img_id, order){
      $.post('/admin/mobiles/image_order', {image_id:img_id, order:order});
    }
    function image_reorder(product_id){
      $.post('/admin/mobiles/image_reorder', {id:product_id}, function(data){alert(data);});
    }
  </script>
<style type="text/css">
  div.image-div { float:left; margin:4px; padding:4px; border:solid 1px green; text-align: center; }
  div.image-div .actions {margin-top:8px;}
  h2 { clear:both;}
</style>
<% end %>