
<p>
  <%= label :name, '名称' %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= label :contact, '联系人' %><br />
  <%= f.text_field :contact %>
</p>
<p>
  <%= label :phone, '联系电话' %><br />
  <%= f.text_field :phone %>
</p>
<p>
  <%= label :address, '地址' %><br />
  <%= f.text_field :address %>
</p>

<%=  submit_tag "update" %>