<p>
  <%= label :brand, '品牌' %><br />
  <%= f.text_field :brand %>
</p>
<p>
  <%= label :model, '型号' %><br />
  <%= f.text_field :model %>
</p>
<p>
  <%= label :price, '价格' %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= label :remark, '报价备注' %><br />
  <%= f.text_field :remark %>
</p>

<%=  submit_tag "update" %>